body {
  width: 100%;
  height: 100%;
  margin: 0;
}

aside {
  background-color: #adc2eb;
  height: 100vh;
  width: 12%;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 180%;
}

nav a {
  padding-top: 30%;
  color: #000000;
}

 nav a:link {
  text-decoration: none;
}

nav a:hover {

  text-decoration: underline;
}
